In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
df = pd.read_csv('diabetic_data.csv')

In [5]:
display(df.head(10))

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

Change ? symbole with nan value

In [7]:
df.replace('?',np.nan,inplace=True)

In [14]:
df.isnull().sum(axis = 0) / df.shape[0]

encounter_id                0.000000
patient_nbr                 0.000000
race                        0.022336
gender                      0.000000
age                         0.000000
weight                      0.968585
admission_type_id           0.000000
discharge_disposition_id    0.000000
admission_source_id         0.000000
time_in_hospital            0.000000
payer_code                  0.395574
medical_specialty           0.490822
num_lab_procedures          0.000000
num_procedures              0.000000
num_medications             0.000000
number_outpatient           0.000000
number_emergency            0.000000
number_inpatient            0.000000
diag_1                      0.000206
diag_2                      0.003518
diag_3                      0.013983
number_diagnoses            0.000000
max_glu_serum               0.000000
A1Cresult                   0.000000
metformin                   0.000000
repaglinide                 0.000000
nateglinide                 0.000000
chlorpropamide              0.000000
glimepiride                 0.000000
acetohexamide               0.000000
glipizide                   0.000000
glyburide                   0.000000
tolbutamide                 0.000000
pioglitazone                0.000000
rosiglitazone               0.000000
acarbose                    0.000000
miglitol                    0.000000
troglitazone                0.000000
tolazamide                  0.000000
examide                     0.000000
citoglipton                 0.000000
insulin                     0.000000
glyburide-metformin         0.000000
glipizide-metformin         0.000000
glimepiride-pioglitazone    0.000000
metformin-rosiglitazone     0.000000
metformin-pioglitazone      0.000000
change                      0.000000
diabetesMed                 0.000000
readmitted                  0.000000
dtype: float64

The columns ['weight','payer_code','medical_specialty'] contain lot of missing values, we will drop this columns at the first step, after we can see if these feature will have an impact on the models we will implement.

In [15]:
df.drop(['weight','payer_code','medical_specialty'],axis=1,inplace=True)

Drop the columns related to ids as they will not be used as feature to learn a model

In [16]:
df.drop(['encounter_id','patient_nbr','admission_type_id','discharge_disposition_id','admission_source_id']
       ,axis=1, inplace=True)

Remove unkown gender, they are 3 examples of Unknown/Invalid gender

In [21]:
df = df[df.gender != 'Unknown/Invalid']

In [22]:
df.dropna(inplace=True)

In [23]:
display(df.head(10))

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,Caucasian,Female,[10-20),3,59,0,18,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,2,0,1,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),2,44,1,16,0,0,0,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,51,0,8,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,Caucasian,Male,[50-60),3,31,6,16,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,Caucasian,Male,[60-70),4,70,1,21,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,Caucasian,Male,[70-80),5,73,0,12,0,0,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,Caucasian,Female,[80-90),13,68,2,28,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,Caucasian,Female,[90-100),12,33,3,18,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,AfricanAmerican,Female,[40-50),9,47,2,17,0,0,0,...,No,Steady,No,No,No,No,No,No,Yes,>30

In [24]:
cat_cols = list(df.select_dtypes('object').columns)
class_dict = {}
for col in cat_cols:
    df = pd.concat([df.drop(col,axis=1), pd.get_dummies(df[col])],axis = 1)
df.head(10)

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,AfricanAmerican,Asian,...,No,No,Steady,Ch,No,No,Yes,<30,>30,NO
1,3,59,0,18,0,0,0,9,0,0,...,1,1,0,1,0,0,1,0,1,0
2,2,11,5,13,2,0,1,6,1,0,...,1,1,0,0,1,0,1,0,0,1
3,2,44,1,16,0,0,0,7,0,0,...,1,1,0,1,0,0,1,0,0,1
4,1,51,0,8,0,0,0,5,0,0,...,1,1,0,1,0,0,1,0,0,1
5,3,31,6,16,0,0,0,9,0,0,...,1,1,0,0,1,0,1,0,1,0
6,4,70,1,21,0,0,0,7,0,0,...,1,1,0,1,0,0,1,0,0,1
7,5,73,0,12,0,0,0,8,0,0,...,1,1,0,0,1,0,1,0,1,0
8,13,68,2,28,0,0,0,8,0,0,...,1,1,0,1,0,0,1,0,0,1
9,12,33,3,18,0,0,0,8,0,0,...,1,1,0,1,0,0,1,0,0,1
10,9,47,2,17,0,0,0,9,1,0,...,1,1,0,0,1,0,1,0,1,0